<!DOCTYPE html>
<html lang="en">
  <head>
   <title>Admin login</title>
   <link href="static\css\style.css" type="text/css" rel="stylesheet"/>
  </head>
  <style>
  body
{
 height: 100vh;
 background-color:grey;
 background-image: linear-gradient(to bottom right,darkcyan,darkslateblue);
 background-repeat:no repeat;
}
#abc
{
font-size:20px;
}
  </style>
  <body>
   <div class="a">
          <a href="/"><img src="https://toppng.com/uploads/preview/home-icon-home-house-icon-house-icon-free-11553508857ouiuhg9nsa.png" width="50" height="50" /></a></div>
    <br>
    <br>
    
    <br>
    <table id="abc" cellpadding="0px" cellspacing="5px" border="1 px solid black" align="center"  >
     <tr>
      <form name="adminlogin" method="post" action="/adminlogin" align="center">
      <td>
       <table  cellpadding="10px" cellspacing="5px" >
        <tr>
         <td  colspan="2" >
         <strong><center>Admin login</center></strong>
         </td>
        </tr>
        <tr>
         <td> Admin name</td>
        
         <td><input name="adminname" type="text" id="adminname"></td>
        </tr>
        <tr>
         <td> Password</td>
        
         <td><input name="password" type="password" id="password"></td>
        </tr>
        <tr >
        
         <td colspan="2"><center><input name="login" type="submit" class="abc" value="login"></center></td>
        <center>{{msg}}</center>
    
        </tr>
       </table>
      </td>
     </form>
    </tr>
   </table>
  </body>
</html>
     
    




